body {
	max-width: 640px;
	min-width: 320px;
    overflow-x: hidden;
    margin: auto;
    background: #f6f6f6;
    padding-top: 4.5rem;
    padding-bottom: 4.9rem;
}
header {
	height: 4.5rem;
    background: #FFFFFF;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}
header h1 {
	right:4.5rem;
    left:4.5rem;
    letter-spacing:0.3rem;
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    color: #4f4f4f;
    line-height: 4.5rem;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    width: auto;
    margin: 0;
    text-overflow: ellipsis;	
}
header i{
	width: 2rem;
	height: 2rem;
	display: inline-block;
	margin-top: 1.5rem;	
}
header i:nth-of-type(1){
	margin-left: 1.4rem;
}
header i:nth-of-type(2){
	margin-right: 1.4rem;
	float: right;
}
header i img{
	width: 100%;
}
header span{
	margin-right: 1.4rem;
	margin-top: 1.5rem;
	float: right;
	color: #03a9f4!important;
    font-size: 1.4rem;
}
/*banner*/
.mui-slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.mui-slider .mui-slider-group {
    font-size: 0;
    position: relative;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    white-space: nowrap;
}

.mui-slider .mui-slider-group .mui-slider-item {
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal;
}
.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
    line-height: 0;
    position: relative;
    display: block;
}
.mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}
.mui-slider-indicator {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: 0 0;
}
.mui-slider-indicator .mui-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px 6px;
    cursor: pointer;
    border-radius: 50%;
    background: #aaa;
    -webkit-box-shadow: 0 0 1px 1px rgba(130,130,130,.7);
    box-shadow: 0 0 1px 1px rgba(130,130,130,.7);
}

.mui-slider-indicator .mui-active.mui-indicator {
    background: #fff;
}
/*footer*/
footer{
	display: table;
    max-width: 64rem;
    min-width: 32rem;
    border: none;
    height: 4.9rem;
    background: #efefef;
    position: fixed;
    bottom: 0;
    z-index: 9;
    box-shadow: 0 0 0px rgba(0,0,0,.85);
}
footer a{
	display: table-cell;
    overflow: hidden;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
    height: 4.9rem;
}
footer a span{
    background-size: 40% !important;
    display: inline-block;
    width: 100%;
    height: 100%;	
}
/* footer a:nth-of-type(1) span{background: url(../images/icon_11.png) no-repeat center;}
footer a:nth-of-type(2) span{background: url(../images/icon_13.png) no-repeat center;}
footer a:nth-of-type(3) span{background: url(../images/icon_06.png) no-repeat center;}
footer a:nth-of-type(4) span{background: url(../images/icon_08.png) no-repeat center;}
footer a:nth-of-type(5) span{background: url(../images/icon_03.png) no-repeat center;}
footer a:nth-of-type(1) span.ative{background: url(../images/icon_blue_11.png) no-repeat center;}
footer a:nth-of-type(2) span.ative{background: url(../images/icon_blue_13.png) no-repeat center;}
footer a:nth-of-type(3) span.ative{background: url(../images/icon_blue_06.png) no-repeat center;}
footer a:nth-of-type(4) span.ative{background: url(../images/icon_blue_08.png) no-repeat center;}
footer a:nth-of-type(5) span.ative{background: url(../images/icon_blue_03.png) no-repeat center;} */